.card_style {
  cursor: pointer;
  transition: 0.3s;
}

.smalltrash {
  display: none;
}

.card_style:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}

.iteamsdetails {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}
.items_img {
  flex: 0.4;
}
.items_img img {
  width: 20rem;
  border-radius: 5px;
}

.details {
  flex: 0.5;
}

.rating {
  background-color: green;
}

.lower_data h5 {
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.849);
}

.lower_data span {
  font-size: 15px;
  letter-spacing: 0.4px;
  color: rgba(17, 17, 17, 0.849);
}

.extra {
  border-bottom: 1px solid rgba(17, 17, 17, 0.449);
}

.upper_data h4 {
  font-size: 18px;
  color: rgba(17, 17, 17, 0.849);
  letter-spacing: 0.5px;
  font-weight: 500;
}

.upper_data span {
  background-color: rgb(36, 150, 63);
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 1px;
  width: 45px;
}

.last_data .limg {
  width: 18px;
}

.last_data p {
  font-size: 14px;
  margin-top: 18px;
  letter-spacing: 0.2px;
  color: rgba(17, 17, 17, 0.849);
}

.last_data .laimg {
  width: 45px;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2 {
  color: #333;
}

input {
  margin: 10px 0;
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 772px) {
  .iteamsdetails {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .smalltrash {
    display: block;
  }
  .largetrash {
    display: none;
  }
  .emptycart_img {
    margin-right: 50px;
  }
  .smallclose {
    display: none;
  }

  /* individual iteams details */

  .items_img img {
    width: 16rem;
  }
}
